BITGET_API_KEY=
BITGET_API_SECRET=
BITGET_API_PASSPHRASE=
EXIT_LOG_FILE=

BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_API_PASSPHRASE=

create your own .env, it will not be committed unless you mess with .gitignore